.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: #666;
    padding: 15px;
}
.dialogsItems a {
    color: #000;
}
.dialogsItems .active {
    color: #ccc;
}
.dialog {

}
.messages {

}
.message {

}

